<table class="size-chart">
    <thead>
        <tr>
            <th>Size Aus</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>Bust (CM)</td>
            <td>78</td>
            <td>83</td>
            <td>88</td>
            <td>93</td>
            <td>98</td>
        </tr>
        <tr class="odd">
            <td>Waist (CM)</td>
            <td>61</td>
            <td>66</td>
            <td>71</td>
            <td>76</td>
            <td>81</td>
        </tr>
        <tr class="even">
            <td>Hips (CM)</td>
            <td>85</td>
            <td>90</td>
            <td>95</td>
            <td>100</td>
            <td>105</td>
        </tr>
    </tbody>
</table>
<table class="size-chart">
    <thead>
        <tr>
            <th>Size Aus</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>Bust (CM)</td>
            <td>78</td>
            <td>83</td>
            <td>88</td>
            <td>93</td>
            <td>98</td>
        </tr>
        <tr class="odd">
            <td>Waist (CM)</td>
            <td>61</td>
            <td>66</td>
            <td>71</td>
            <td>76</td>
            <td>81</td>
        </tr>
        <tr class="even">
            <td>Hips (CM)</td>
            <td>85</td>
            <td>90</td>
            <td>95</td>
            <td>100</td>
            <td>105</td>
        </tr>
    </tbody>
</table>