	<h2 id="Paragraphs">Paragraphs</h2>

	<p>Lorem ipsum dolor sit amet, <em>consectetur adipiscing elit</em>. Duis eu dictum risus. Aliquam et elit ac eros semper tempus ac ut sapien. Aenean volutpat nisl eros, in faucibus leo posuere vel. Fusce tincidunt tortor neque, venenatis lobortis purus <a href="#">condimentum</a> et. Morbi ac porta magna. Morbi ultricies lobortis facilisis. Vestibulum in rutrum mi.</p>

	<p><strong>Nulla facilisi. Phasellus iaculis</strong>, lectus at egestas rutrum, orci tellus consectetur <a href="#">metus</a>, id placerat mi felis et purus. Aliquam luctus, lacus ut malesuada posuere, nulla urna imperdiet erat, in tincidunt arcu ligula et mauris. Aliquam nunc orci, pharetra ac placerat sit amet, ultrices ac tellus. Suspendisse arcu leo, iaculis sed nulla sed, <a href="#">iaculis</a> facilisis lorem. Ut laoreet elit at magna sollicitudin, a ullamcorper ipsum porttitor. In id lorem quis nunc hendrerit malesuada. Donec sit amet nulla quis magna semper posuere. Sed dui velit, placerat eu tincidunt a, accumsan a dui. Maecenas diam dui, hendrerit in sodales vitae, <em>vulputate vitae arcu</em>. In pretium sagittis ornare. Praesent eu egestas augue. <a href="#">Proin</a> tempus tristique dolor in tempus. Mauris a sem augue.</p>

<hr />

	<h2 id="Headings">Headings</h2>

	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>


<hr />

	<h2 id="Lists">Lists</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu dictum risus. </p>

	<ul>
		<li><a href="#">Lorem ipsum 1</a></li>
		<li><a href="#">Lorem ipsum dolor 2</a></li>
		<li><a href="#">Lorem ipsum dolor egestas 3</a></li>
		<li><a href="#">Lorem ipsum 4</a></li>
		<li><a href="#">Lorem ipsum dolor 5</a></li>
		<li><a href="#">Lorem ipsum dolor tellus 6</a></li>
	</ul>	

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu dictum risus. </p>

	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu dictum risus. Aliquam et elit ac eros semper tempus ac ut sapien. Aenean volutpat nisl eros, in faucibus leo posuere vel. </li>
		<li><a href="#">Metus</a>, id placerat mi felis et purus. Aliquam luctus, lacus ut malesuada posuere, nulla urna imperdiet erat, in tincidunt arcu ligula et mauris.</li>
		<li>Nulla facilisi. Phasellus iaculis, lectus at egestas rutrum, orci tellus consectetur <a href="#">metus</a>, id placerat mi felis et purus. Aliquam luctus, lacus ut malesuada posuere, nulla urna imperdiet erat, in tincidunt arcu ligula et mauris.</li>
		<li>In pretium sagittis ornare. Praesent eu egestas augue. <a href="#">Proin</a> tempus tristique dolor in tempus. Mauris a sem augue.</li>
	</ul>

<hr />

	<h2 id="Tables">Tables</h2>

	<table class="normal-table full-table">
	    <thead>
	        <tr>
	            <th>Size AUS</th>
	            <th>5</th>
	            <th>6</th>
	            <th>7</th>
	            <th>8</th>
	            <th>9</th>
	            <th>10</th>
	            <th>11</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr class="even">
	            <td>UK</td>
	            <td>3</td>
	            <td>4</td>
	            <td>5</td>
	            <td>6</td>
	            <td>7</td>
	            <td>8</td>
	            <td>9</td>
	        </tr>
	        <tr class="odd">
	            <td>US</td>
	            <td>5.5</td>
	            <td>6.5</td>
	            <td>7.5</td>
	            <td>8.5</td>
	            <td>9.5</td>
	            <td>10.5</td>
	            <td>11.5</td>
	        </tr>
	        <tr class="even">
	            <td>EUR</td>
	            <td>35.5</td>
	            <td>36.5</td>
	            <td>38</td>
	            <td>39</td>
	            <td>40.5</td>
	            <td>42</td>
	            <td>43</td>
	        </tr>
	    </tbody>
	</table>