body {
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10pt;
}

#navigation {
	height: 100%;
	float: left;
	background: #ddd;
	width: 230px;
	font-size: 110%;
}

#content {
	margin-left: 240px;
}

#categories .selected {
	font-weight: bold;
}

#content h1 {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 160%;
}

#content h2 {
	font-size: 140%;
}	

#content h3 {
	font-size: 110%;
}	


div.product {
	margin-top: 10px;
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

div.product h2 {
	margin-top: 0px;
	font-size: 120%;
}

div.product div {
	margin-bottom: 20px;
}

div.product .feature-table {
	font-size: 90%;
}

div.product td.feature-name {
	font-weight: bold;
	width: 40%;
	vertical-align: top;
}

div.product td.feature-values {
	width: 60%;
	vertical-align: top;
}

.product .price {
	
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 110%;
	background: #ddd;
	
}

#cart table td {
	text-align: left;
	padding: 5px;
}

#cart table th {
	text-align: left;
	padding: 5px;
}

#cart table {
}


#cart table {
	width: 70%;
}

#cart table .quantity {
	width: 10%;
}

#cart table .product {
	width: 70%;
}

#cart table .base-price {
	width: 10%;
}

#cart table .total-price {
	width: 10%;
}

#cart-total {
	font-size: 110%;
	font-weight: bold;	
}


#cart div {
	margin-top: 10px;
}

div.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

#cart input[type='text'] {
	width: 40px;
}


#feature-selector form	ul {
	margin-top: 10px;
	padding-left: 0px;
}

#feature-selector form	li {
	padding-top: 2px; 
	margin: 0px; 
	list-style:none; 
}

#feature-selector form	li label { 
	padding:0px;
	width:140px;  
	display:block; 
	float:left; 
	font-weight:bold; 
}

#feature-selector form	li select {
	width: 200px;
}