body {padding-top:0; margin-top:0;}
td, th {font-size:12px; vertical-align: top; font-family: Helvetica,Arial,sans-serif; color:#3D3935;}
table {border-collapse: collapse;}
p, h1, h2, h3, h4, h5, h6, span {font-family: Helvetica,Arial,sans-serif; font-size:14px; line-height:20px; padding:0; margin:15px 0 15px 0; color:#3D3935; font-weight: normal;}
h1 {font-size:28px; color:#3D3935; font-weight:normal; line-height: 32px; margin-top:25px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
a {color:#ba0000;}
a:hover {text-decoration:none;}
img {display:block;}
small {display: block; margin: 10px 0; font-size: 10px;}

.head img {margin: 20px 0 0;}

.panel {padding: 20px;}
.panel.w {background-color: #ffffff; border: 1px solid #999999;}
.panel p {margin: 0;}
.panel td {padding-bottom: 5px;}

.sum {width: 100%; border-spacing: 0;}
.sum thead {background-color: #3d3935;}
.sum th {color: #ffffff;}
.sum th, .sum tr, .sum td, .p {padding: 15px 0;}
.sum th.first {border-left: 0;}
.sum th.last {border-right: 0;}
.discount {background: #dffddd; font-weight: bold;}
.discount td {color: #60aa30;}
.total {background: #dffddd; font-weight: bold;}
.total td {color: #60aa30; font-size: 16px;}
.info td {border: 0;}
.con {background: #e0e0e0;}
.con td {padding: 8px 15px;}

.l {text-align: left;}
.r {text-align: right;}
.c {text-align: center;}

.sn {color: #ba0000; font-weight: bold; margin: 0 0 0.5em;}
.bd {font-weight: bold;}


.nw {white-space: nowrap;}

.gap {height: 20px;}

.o {background-color: #f3f2f2;}
.e {background-color: #f8f8f9;}

.o {background-color: #f3f2f2;}
.e {background-color: #f8f8f9;}

.bc {margin: 0 auto;}

.eban {margin: 5px 0;}

/* Promos */
.rc {padding-bottom: 0;}
.rc td {padding-bottom: 0; border-bottom: 0;}
.app-deal {color: #60aa30; margin: 0 0 8px 0;}



.max {max-width: 600px; display: block;}

.tiny {font-size: 10px;}
.small {font-size: 12px;}
.large {font-size: 16px;}

.text-center-align td {vertical-align: middle; text-align: center; padding: 8px}
.table-cell-spacing {border-collapse: separate; border-spacing: 3px;}
.bgcolor-gray td {background: #f3f2f2;}
.bgcolor-green td {background: #dffddd; font-weight: bold;}
.bgcolor-green td span, .bgcolor-green td h3 {color: #60aa30;}
.bgcolor-transparent td {background: #ffffff;}
.table-max-width {max-width: 600px; width: 100%;}