.apple-links a, a[href^=tel]{color:#ba0000;}
.columns-table { width: 100% !important;}  .columns-table-container {display: block !important;width: 100% !important;}
@media only screen and (min-width: 479px) {  .columns-table { width: auto !important;}  .columns-table-container {display: table-cell !important;width: 50% !important;} }