<?xml version="1.0" encoding="utf-8"?>

<?page title="Login" ?>

<zk xmlns="http://www.zkoss.org/2005/zul" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
	<div visible="false" use="de.hybris.platform.cockpit.components.CustomCsaIncludeHelper"/>

	<window border="none" use="de.hybris.platform.cockpit.components.login.LoginWindow" shadow="false">
		<style src="/cockpit/css/cockpit.css" />
		<style src="/cmscockpit/css/cmscockpit.css" /> 
	</window>

</zk>