<ul class="TickList">
	<li>
		<span class="iconf iconf-tick" aria-hidden="true"></span><span>Check for any spelling mistakes</span>
	</li>
	<li>
		<span class="iconf iconf-tick" aria-hidden="true"></span><span>Try different or more general keywords</span>
	</li>
	<li>
		<span class="iconf iconf-tick" aria-hidden="true"></span><span>Try using fewer keywords</span>
	</li>
</ul>