<h4>Pre-Walker Shoe Sizes</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Volley Sock Length (cm)</td>
                    <td>11</td>
                    <td>12</td>
                    <td>12.5</td>
                    <td>13.5</td>
                    <td>14</td>
                    <td>14.5</td>
                </tr>
                <tr class="odd">
                    <td>Target Sock Length (cm)</td>
                    <td>11</td>
                    <td>12</td>
                    <td>12.5</td>
                    <td>13.5</td>
                    <td>14</td>
                    <td>14.5</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>