<h1>Size Charts</h1>
<p>To help you select the correct size for your apparel and footwear purchase, we have provided these size guides below. You can also access these from the links on our product pages (next to size selection), and please check the individual product description for any special sizing considerations.</p>
<p>And remember, if you're not completely satisfied with your online purchase, all items purchased on Target Online can be returned or exchanged free of charge. Refer to our <a href="#">Returns FAQs</a> for more details. </p>
<p>Select the size chart below that matches the product you are purchasing to find your proper fit.</p>
<ul class="size-chart-anchors">
	<li><a href="#ShowSizes">Shoe Sizes</a></li>
	<li><a href="#WomensSizes">Women's Sizes</a></li>
	<li><a href="#MensSizes">Men's Sizes</a></li>
	<li><a href="#KidsSizes">Kids' Sizes</a></li>
	<li><a href="#BabiesSizes">Babies' Sizes</a></li>
</ul>
<hr />
<h2 id="ShowSizes">Shoe Sizes</h2>
