<hr />
<h2 id="KidsSizes">Kids' Sizes</h2>
<h4>Girls' 1-6 - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Tops</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>80</td>
                    <td>89</td>
                    <td>97</td>
                    <td>106</td>
                    <td>114</td>
                    <td>120</td>
                </tr>
                <tr class="odd">
                    <td>Chest (cm)</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                </tr>
                <tr class="even">
                    <td>Waist (cm)</td>
                    <td>51</td>
                    <td>52</td>
                    <td>53</td>
                    <td>54</td>
                    <td>55</td>
                    <td>56</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Girls' 1-6 - Bottoms</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Bottoms</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>80</td>
                    <td>89</td>
                    <td>97</td>
                    <td>106</td>
                    <td>114</td>
                    <td>120</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>51</td>
                    <td>52</td>
                    <td>53</td>
                    <td>54</td>
                    <td>55</td>
                    <td>56</td>
                </tr>
                <tr class="even">
                    <td>Hips (cm)</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Girls'- 7-16 - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Tops</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>126</td>
                    <td>132</td>
                    <td>138</td>
                    <td>144</td>
                    <td>150</td>
                    <td>156</td>
                    <td>162</td>
                </tr>
                <tr class="odd">
                    <td>Chest (cm)</td>
                    <td>63</td>
                    <td>66</td>
                    <td>69</td>
                    <td>72</td>
                    <td>75</td>
                    <td>78</td>
                    <td>81</td>
                </tr>
                <tr class="even">
                    <td>Waist (cm)</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                    <td>68</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Girls' 7-16 - Bottoms</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Bottoms</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>126</td>
                    <td>132</td>
                    <td>138</td>
                    <td>144</td>
                    <td>150</td>
                    <td>156</td>
                    <td>162</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                    <td>68</td>
                    <td>70</td>
                </tr>
                <tr class="even">
                    <td>Hips (cm)</td>
                    <td>69</td>
                    <td>72</td>
                    <td>75</td>
                    <td>78</td>
                    <td>81</td>
                    <td>84</td>
                    <td>87</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Boys' 1-6 - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Tops</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>82</td>
                    <td>91</td>
                    <td>100</td>
                    <td>109</td>
                    <td>116</td>
                    <td>122</td>
                </tr>
                <tr class="odd">
                    <td>Chest (cm)</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Boys' 1-6 - Bottoms</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Bottoms</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>82</td>
                    <td>91</td>
                    <td>100</td>
                    <td>109</td>
                    <td>116</td>
                    <td>122</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>52</td>
                    <td>53</td>
                    <td>54</td>
                    <td>55</td>
                    <td>56</td>
                    <td>57</td>
                </tr>
                <tr class="even">
                    <td>Hips (cm)</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Boys' 7-16 - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Tops</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>128</td>
                    <td>134</td>
                    <td>140</td>
                    <td>145</td>
                    <td>150</td>
                    <td>155</td>
                    <td>160</td>
                </tr>
                <tr class="odd">
                    <td>Chest (cm)</td>
                    <td>62</td>
                    <td>65</td>
                    <td>68</td>
                    <td>71</td>
                    <td>74</td>
                    <td>77</td>
                    <td>80</td>
                </tr>
                <tr class="even">
                    <td>Waist (cm)</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                    <td>68</td>
                    <td>70</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Boys' 7-16 - Bottoms</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Bottoms</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>12</th>
                    <th>14</th>
                    <th>16</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Height (cm)</td>
                    <td>128</td>
                    <td>134</td>
                    <td>140</td>
                    <td>145</td>
                    <td>150</td>
                    <td>155</td>
                    <td>160</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                    <td>66</td>
                    <td>68</td>
                    <td>70</td>
                </tr>
                <tr class="even">
                    <td>Hips (cm)</td>
                    <td>68</td>
                    <td>71</td>
                    <td>74</td>
                    <td>77</td>
                    <td>80</td>
                    <td>83</td>
                    <td>86</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>