<hr />
<h2 id="MensSizes">Men's Sizes</h2>
<h4>Men's - Business Shirts</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Collar Size</th>
                    <th>38</th>
                    <th>39</th>
                    <th>40</th>
                    <th>41</th>
                    <th>42</th>
                    <th>43</th>
                    <th>44</th>
                    <th>45</th>
                    <th>46</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Neck (cm)</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Men's - Business Shirts - Slim Fit</h4>
<table class="size-chart">
    <thead>
        <tr>
            <th>Alpha Size</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>2XL</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td>Neck (cm)</td>
            <td>37-38</td>
            <td>39-40</td>
            <td>41-42</td>
            <td>43-44</td>
	    <td>45-46</td>
        </tr>
    </tbody>
</table>
<h4>Men's - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Alpha Size</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>2XL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Metric Size</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                    <td>117</td>
                </tr>
                <tr class="odd">
                    <td>Chest (cm)</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                    <td>117</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Men's - Bottoms Drawstring/Elastic Waist Pants/Shorts + Swimwear</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Alpha Size</th>
                    <th>XXS</th>
                    <th>XS</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                    <th>XXL</th>
                    <th>3XL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Metric Size</td>
                    <td>72</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>72</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Men's - Structured Pants/Shorts + Swimwear</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Metric Size</th>
                    <th>72</th>
                    <th>77</th>
                    <th>82</th>
                    <th>87</th>
                    <th>92</th>
                    <th>97</th>
                    <th>102</th>
                    <th>107</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Imperial Size</td>
                    <td>28</td>
                    <td>30</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>72</td>
                    <td>77</td>
                    <td>82</td>
                    <td>87</td>
                    <td>92</td>
                    <td>97</td>
                    <td>102</td>
                    <td>107</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Mr Big - Tops</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Alpha Size</th>
                    <th>3XL</th>
                    <th>4XL</th>
                    <th>5XL</th>
                    <th>6XL</th>
                    <th>7XL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Metric Size</td>
                    <td>117</td>
                    <td>122</td>
                    <td>127</td>
                    <td>132</td>
                    <td>137</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>117</td>
                    <td>122</td>
                    <td>127</td>
                    <td>132</td>
                    <td>137</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Mr Big - Drawstring/Elastic Pants/Shorts + Swimwear</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Alpha Size</th>
                    <th>3XL</th>
                    <th>4XL</th>
                    <th>5XL</th>
                    <th>6XL</th>
                    <th>7XL</th>
                    <th>8XL</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Metric Size</td>
                    <td>107</td>
                    <td>112</td>
                    <td>117</td>
                    <td>122</td>
                    <td>127</td>
                    <td>132</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>107</td>
                    <td>112</td>
                    <td>117</td>
                    <td>122</td>
                    <td>127</td>
                    <td>132</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<h4>Mr Big - Structured Pants/Shorts + Swimwear</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Metric Size</th>
                    <th>107</th>
                    <th>112</th>
                    <th>117</th>
                    <th>122</th>
                    <th>127</th>
                    <th>132</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Imperial Size</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                </tr>
                <tr class="odd">
                    <td>Waist (cm)</td>
                    <td>107</td>
                    <td>112</td>
                    <td>117</td>
                    <td>122</td>
                    <td>127</td>
                    <td>132</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>