<?xml version="1.0" encoding="utf-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:h="http://www.w3.org/1999/xhtml" 
xmlns:zk="http://www.zkoss.org/2005/zk"
xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd ">

<zscript><![CDATA[
	import java.util.ArrayList;
	ArrayList results=org.zkoss.spring.SpringUtil.getBean("tgtCsCardPaymentController").handleRefundPaymentFormResponse(Executions.getCurrent());
	String paymentResponse=Executions.getCurrent().getParameter("gatewayFormResponse");
	String resultstr="";
	for(int i=0;i<results.size();i++){
		resultstr=resultstr+"<br />"+results.get(i);
	}
]]>
</zscript>
<script type="text/javascript" src="/tgtcs/js/jquery-1.8.3.js"/>
<script type="text/JavaScript">
var responsediv=$(".paymentresponse",parent.document);
responsediv.html("${resultstr}");
</script>
</zk>