<p>The exclusive Jean Paul Gaultier for Target collection will go on sale March 10 2016.</p>
<p>In the meantime build your personalised favourites list by using the favourite button on all of the pieces that you have your eye on. This will make it easy for you to purchase your must-haves when the collection becomes available. Plus, we love making it easy for you to shop, so just log in and you can access your favourites list across all of your devices!</p>
