<h1>FAQs - Toy Sale Lay-By</h1>
<div class="faq-list">
	<!-- general content -->
	<div class="faq-grp">
		<h3>General</h3>
		<dl class="faq-items">
			<dt class="fq">What is a Toy Sale online lay-by?</dt>
			<dd class="fa">Our Toy Sale online lay-by option allows you to create a lay-by and make payments online over a 20 week period. During Target&rsquo;s Toy Sale, huge range of products from the Toy Sale catalogue is available to lay-by through our online store.</dd>
			<dt class="fq">What are the benefits of a Toy Sale online Toy Sale lay-by?</dt>
			<dd class="fa">
				<ul>
					<li>Secure your items without paying the full price straight away.</li>
					<li>Flexible payment options.</li>
					<li>Avoid the crowds! Shop from home at any time of the day (or night!).</li>
					<li>Keep gifts away from prying little hands by keeping them 'hidden' at Target.</li>
					<li>Convenience: if you don't live near a Target store, you can have your online lay-by delivered direct to your home or work.</li>
				</ul>
			</dd>
			<dt class="fq">What items are available for Toy Sale online lay-by?</dt>
			<dd class="fa">Items that are available to lay-by as part of Toy Sale are all exclusive products to Target and selected Big &amp; Bulky items. These items will feature the 'Toy Sale Lay-By now' button on the product page.</dd>
			<dt class="fq">How do I create a Toy Sale online lay-by?</dt>
			<dd class="fa">
				<p>Creating an online lay-by is easy &ndash; just follow these 3 steps:</p>
				<h4>1. Click Toy Sale Lay-by Now and add the products you'd like to your basket.</h4>
				<p>Check individual product pages to make sure the items you want are available for Toy Sale online lay-by.</p>
				<h4>2. Choose a delivery option</h4>
				<p>During Toy Sale, we offer two delivery options &ndash; home delivery or FREE Click + Collect which will deliver your goods to a Target or Target Country store free of charge. See below for timeframes:</p>
				<table cellspacing="0" cellpadding="0" border="0">
					<thead>
						<tr>
							<th>Click + Collect</th>
							<th>Home Delivery</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Pick up from 25 November 2013</td>
							<td>Delivery by 13 December 2013</td>
						</tr>
					</tbody>
				</table>
				<h4>Start your payments.</h4>
				<p>We accept PayPal and all major credit cards (Visa, MasterCard, American Express, Diners Club) for your 10% deposit (or more if you like) and subsequent payments. With our flexible payments to your Toy Sale online lay-by, as long as 50% is paid by 1 October 2013 and the total amount is paid by November 7 to ensure pre-Christmas delivery.</p>
				<p>Note: your lay-by must be paid within the timeframes specified in the Your Lay-by page at checkout. To make payments, log in to 
				<a href="/my-account/home">My Account</a> and go to My Lay-bys.</p>
			</dd>
			<dt class="fq">Where can I find the Terms and Conditions for Toy Sale online lay-by?</dt>
			<dd class="fa">Our Terms and Conditions are available 
			<a href="/modal/terms-conditions-layby" class="lb" title="conditions of use">here</a></dd>
			<dt class="fq">Can I create more than one Toy Sale online lay-by?</dt>
			<dd class="fa">Yes, you can create multiple standard and Toy Sale online lay-bys.</dd>
			<dt class="fq">Can I add in-store to my Toy Sale online lay-by?</dt>
			<dd class="fa">If you find something you'd like to lay-by in store, you can arrange a separate lay-by for it at the store, but you can't add it to your existing Toy Sale online lay-by.</dd>
			<dt class="fq">Are the items I add to my basket automatically held for me?</dt>
			<dd class="fa">No, items are only held once you have submitted your Toy Sale online lay-by order.</dd>
			<dt class="fq">What if I change my mind after submitting my Toy Sale online lay-by?</dt>
			<dd class="fa">Standard lay-by cancellation 
			<a href="/modal/terms-conditions-layby" class="lb" title="conditions of use">Terms and Conditions</a> apply and anything you've paid (minus the $5 online lay-by service fee) will be refunded.</dd>
			<dt class="fq">Can I add items to my Toy Sale online lay-by after it has been confirmed?</dt>
			<dd class="fa">Unfortunately not, but you can create another online lay-by for those additional items.</dd>
			<dt class="fq">What is the minimum purchase amount for a Toy Sale online lay-by?</dt>
			<dd class="fa">The minimum purchase amount for a Toy Sale online lay-by is $50 (this excludes the $5 lay-by service fee and any delivery fees)..</dd>
			<dt class="fq">What is the Price Match Guarantee?</dt>
			<dd class="fa">The Toy Price Guarantee: If you find an identical toy from our Toy Sale catalogue advertised for less, we&rsquo;ll match it. Simply bring in a copy of the current printed advertising material into your local store and leave the rest to us. Item must be identical to Target item excluding DVD&rsquo;s, interactive consoles and software, international advertisements and promotions of online retailers. Target reserves the right to limit purchase quantities. Competitor advertisement must be current.</dd>
			<dt class="fq">If I have any questions, who should I contact?</dt>
			<dd class="fa">You can use our 
			<a href="http://target.media.vserver.com.au/service01/targetfeedback.do" class="external">online feedback form</a> , email 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 300 753 567 Monday&ndash;Friday, 8.30am&ndash;8.30pm or Saturday, 10am&ndash;3pm (AEST).</dd>
			<dt class="fq">What if I don't receive a response to my query?</dt>
			<dd class="fa">We try to respond to everyone within 72 hours, but if we are a busier than usual it may take a little longer. But we will get back to you!</dd>
		</dl>
		<!-- general end -->
		<!-- payment content -->
	</div>
	<div class="faq-grp">
		<h3>Payments</h3>
		<dl class="faq-items">
			<dt class="fq">What are your Toy Sale online lay-by payment options?</dt>
			<dd class="fa">
				<p>Our flexible payment Toy Sale lay-by means you decide when you make payments, as long as 50% is paid by 1 October 2013 and the total amount is paid by the due date &ndash; for Toy Sale that&rsquo;s 7 November 2013.</p>
				<p>To make payments, log in to 
				<a href="/my-account/home">My Account</a> and go to My Lay-bys.</p>
			</dd>
			<dt class="fq">Do I have to pay any up-front costs when creating an Toy Sale online lay-by?</dt>
			<dd class="fa">Each Toy Sale online lay-by you create requires a deposit of at least 10%, as well as a $5 online lay-by fee.</dd>
			<dt class="fq">Will my online Toy Sale lay-by payments come directly out of my account when payment is due?</dt>
			<dd class="fa">No, you need to log in to 
			<a href="/my-account/home">My Account</a> and go to My Lay-bys to make payments. Our flexible payment means you can pay with different credit cards and/or PayPal at your convenience.</dd>
			<dt class="fq">Can I make payments for my Toy Sale online lay-by in store?</dt>
			<dd class="fa">Sorry, but Toy Sale online lay-by payments can only be made online and not in our Target or Target Country stores.</dd>
			<dt class="fq">How can I keep track of Toy Sale online lay-by payments?</dt>
			<dd class="fa">You can track your Toy Sale online lay-by payments by logging into 
			<a href="/my-account/home">My Account</a> and selecting My Lay-Bys. We'll also send reminders via email (and SMS, if you've given us your mobile number) throughout your lay-by period.</dd>
			<dt class="fq">What if I don't pay my Toy Sale online lay-by by the due date?</dt>
			<dd class="fa">If you miss a payment, we'll contact you to arrange another payment. If you have not finalised your payments by the final due date, your Toy Sale online lay-by will be cancelled and you will be refunded any monies owed (excluding the $5 lay-by service fee).</dd>
			<dt class="fq">Can I use gift cards to make online lay-by payments?</dt>
			<dd class="fa">Only credit cards or PayPal can be used to make online lay-by payments.</dd>
			<dt class="fq">Can I use my team member discount card?</dt>
			<dd class="fa">Yes, you can use your team member discount card. Just enter your team member discount barcode number at checkout.</dd>
			<dt class="fq">How can I see how much is outstanding on my Toy Sale online lay-by?</dt>
			<dd class="fa">You can track your Toy Sale online lay-by anytime by signing in to 
			<a href="/my-account/home">My Account</a> and selecting My Lay-bys.</dd>
			<dt class="fq">Can I pay my Toy Sale online lay-by in full before the due date?</dt>
			<dd class="fa">Yes, you can pay your lay-by in full at any time. Just sign in to 
			<a href="/my-account/home">My Account</a> and pay away, but remember that even if you pay your lay-by in full, your delivery or pick up date will stay the same.</dd>
			<dt class="fq">Can I cancel my Toy Sale online lay-by?</dt>
			<dd class="fa">
				<p>You can cancel your Toy Sale online lay-by up until the point it is paid in full.</p>
				<p>Note: standard lay-by cancellation terms and conditions apply and all monies paid will be refunded (excluding the $5 online lay-by service fee).</p>
				<p>If you've already paid and received your Toy Sale online lay-by, but have changed your mind about it, you can simply return it to your local Target or Target Country Store.</p>
				<p>If you need to cancel your Toy Sale online lay-by, please email 
				<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> with your order number.</p>
			</dd>
		</dl>
		<!-- payment end -->
		<!-- Delivery content -->
	</div>
	<div class="faq-grp">
		<h3>Delivery</h3>
		<dl class="faq-items">
			<dt class="fq">Where can I have my Toy Sale online lay-by delivered?</dt>
			<dd class="fa">
				<p>You can choose to have your Toy Sale online lay-by delivered to your home or work address, or via our Click + Collect service for collection in selected Target and Target Country Stores.</p>
				<p>Note: Our Click + Collect service is only available at selected stores and does not cover all items. Some items are available for Click + Collect only. See individual product pages for details.</p>
			</dd>
			<dt class="fq">How much will delivery cost?</dt>
			<dd class="fa">
				<p>We have two standard flat rates for deliveries Australia-wide:</p>
				<ul>
					<li>Home delivery for standard parcels (small, medium or large) is $9 (incl. GST). If you have ordered a number of items, they will be shipped as one parcel and you will only incur one flat $9 postage fee.</li>
					<li>If one or two Big + Bulky parcels are purchased, a flat fee of $69 (incl. GST) will apply. If three or more Big + Bulky items are purchased, a flat fee of $138 (incl. GST) will apply.</li>
				</ul>
				<p>
					<a href="/help/payment-delivery.html">Please see Payment + Delivery for more information.</a>
				</p>
			</dd>
			<dt class="fq">When will my online Toy Sale lay-by be delivered?</dt>
			<dd class="fa">
				<ul>
					<li>Home deliveries, we aim to deliver to your nominated address by 13 December 2013.</li>
					<li>Click + Collect, we aim to deliver your items to store by 25 November 2013 and you will be contacted as soon as your lay-by is ready for pick up.</li>
				</ul>
			</dd>
		</dl>
	</div>
	<!-- Delivery end -->
	<!-- Click + Collect content -->
	<div class="faq-grp">
		<h3>Click + Collect</h3>
		<dl class="faq-items">
			<dt class="fq">Where do I go to collect my Toy Sale online lay-by in store?</dt>
			<dd class="fa">
				<p>FREE Click + Collect orders can be collected from the lay-by department or customer service counter at your nominated Target or Target Country store.</p>
				<p>You must produce a copy of your lay-by confirmation email or tax invoice in store to collect your lay-by.</p>
				<p>You must collect your Toy Sale online lay-by within 7 days of notification that your lay-by has arrived in store.</p>
			</dd>
			<dt class="fq">Can I change the store I selected to collect my Toy Sale online lay-by?</dt>
			<dd class="fa">Yes. Once we have confirmed your Toy Sale online lay-by, we are able to change the details of your order, including the nominated collection point.</dd>
			<dt class="fq">My preferred store is not in the list of stores, what do I do?</dt>
			<dd class="fa">
				<p>Not all products (such as Big + Bulky items) are available for Click + Collect, which is why your preferred store might not appear on the list. Check the individual product pages when placing your order to see if the items you want qualify for Click + Collect.</p>
				<p>If your preferred store does not appear for your selected items, you can either select another store or choose the home delivery option. Check the 
				<a href="http://target.dynamiccatalogue.com.au/portal/storelocator" class="external">store locator</a> for your nearest branches.</p>
			</dd>
			<dt class="fq">Can I have my online lay-by delivered to a Target Country store?</dt>
			<dd class="fa">Nearly all items can be delivered to our Target Country stores, but check the individual product pages when placing your order, as certain items cannot be safely handled for Target Country store delivery.</dd>
			<dt class="fq">Can I have my online Toy Sale lay-by delivered as soon as I have paid for it?</dt>
			<dd class="fa">
				<p>Toy Sale online lay-by delivery dates are set by Santa, so unfortunately cannot be updated by speedy payment. Home deliveries will be with you by 13 December 2013, and Click + Collect will be in store by 25 November 2013.</p>
				<p>Tip: if you need your order sooner, click the 'buy now' option for immediate delivery, create a standard online lay-by, or create an in-store lay-by</p>
			</dd>
			<dt class="fq">Will my online Toy Sale lay-by be delivered on a weekend?</dt>
			<dd class="fa">As home deliveries are made by Australia Post, all online lay-bys are delivered Monday&ndash;Friday only.</dd>
			<dt class="fq">Can I change my delivery address for home delivery after I have confirmed my Toy Sale online lay-by?</dt>
			<dd class="fa">You can change the home delivery address for your Toy Sale online lay-by up until 10 October 2013 by calling us on 1300 753 567 Monday&ndash;Friday, 8.30am&ndash;8.30pm or Saturday, 10am&ndash;3pm (AEST).</dd>
		</dl>
	</div>
	<!-- Click + Collect end -->
	<!-- Big and Bulky content -->
	<div class="faq-grp">
		<h3>Big and Bulky</h3>
		<dl class="faq-items">
			<dt class="fq">What is a big and bulky parcel?</dt>
			<dd class="fa">
				<ul>
					<li>Any item over 105cm long and/or over 140cm wide and/or over 22kg is considered 'Big + Bulky'.</li>
					<li>Due to weight restrictions, some larger items cannot be safely handled in store and are only available via home delivery. These restrictions vary between Target and Target Country stores.</li>
				</ul>
				<p>Note: individual product pages outline delivery options and fees.</p>
				<p>
					<strong>Here are some examples of product sizes and delivery costs:</strong>
				</p>
				<table class="delivery-options">
					<tbody>
						<tr class="odd">
							<td>
								<p>
									<strong>Example of a standard item</strong>
								</p>
								<p>Home delivery fee: $9</p>
								<p>Click + Collect fee: Free</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<p>
									<strong>Example of a Big + Bulky item</strong>
								</p>
								<p>Home delivery: $69</p>
								<p>Click + Collect: Free</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="odd">
							<td>
								<p>
									<strong>Examples of oversized items for Target Country</strong>
								</p>
								<p>Home delivery: $69</p>
								<p>Click + Collect: not available at Target Country stores</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
						<tr class="even">
							<td>
								<p>
									<strong>Example of a Big + Bulky for home delivery only</strong>
								</p>
								<p>Home delivery: $69</p>
								<p>Click + Collect: not available</p>
							</td>
							<td>
								<p>[[PRODUCT IMAGE]]</p>
							</td>
						</tr>
					</tbody>
				</table>
			</dd>
			<dt class="fq">Can my Toy Sale online lay-by be delivered anywhere in Australia?</dt>
			<dd class="fa">Yes, provided that Australia Post delivers to your area, your Toy Sale online lay-by can be delivered anywhere in Australia.</dd>
			<dt class="fq">Can my Toy Sale online lay-by be delivered to a PO Box?</dt>
			<dd class="fa">Provided that your Toy Sale online lay-by is a standard parcel (small, medium or large), we can deliver it to a PO Box. Unfortunately, Big + Bulky parcels can only be delivered to street addresses.</dd>
			<dt class="fq">What if I'm not home when my Toy Sale online lay-by is delivered?</dt>
			<dd class="fa">
				<p>For a standard parcel delivery, Australia Post will leave a card in your letterbox with details for collection from your local post office.</p>
				<p>For a Big + Bulky delivery, Australia Post will contact you to arrange a delivery time.</p>
			</dd>
			<dt class="fq">What if I can't print out the Click + Collect confirmation page?</dt>
			<dd class="fa">
				<p>If you can't print out your Click + Collect confirmation page, that's no problem, just make sure you have your lay-by number written down. Otherwise you can provide your tax invoice, which we send to you once your payments are finalised.</p>
				<p>Note: If someone else is collecting your online lay-by, they must bring your authorisation form (we send this to you once payments are finalised) your lay-by number and their photo ID.</p>
			</dd>
		</dl>
	</div>
	<!-- Big and Bulky end -->
	<!-- Items content -->
	<div class="faq-grp">
		<h3>Items</h3>
		<dl class="faq-items">
			<dt class="fq">Are all items in the Target Toy Sale catalogue available for Toy Sale online Toy Sale lay-by?</dt>
			<dd class="fa">
				<p>This year, our Toy Sale online offer will include all products exclusive to Target and Big + Bulky items only. All other products featured in the catalogue can be purchased from your local Target or Target Country store. All items available to purchase as part of the Toy Sale online lay-by will feature the Layby button on the product page.</p>
			</dd>
		</dl>
	</div>
	<!-- Items end -->
	<!-- Refund content -->
	<div class="faq-grp">
		<h3>Refunds</h3>
		<dl class="faq-items">
			<dt class="fq">How do I get a refund?</dt>
			<dd class="fa">To get a refund, you can return your goods to our Online Team in a resalable condition for assessment using the returns paperwork that came in your parcel. Alternatively, you can return any items purchased online to your nearest Target or Target Country store &ndash; just remember to take your tax invoice with you. To view our refund policy 
			<a href="/help/refund-returns.html">click here</a> .</dd>
			<dt class="fq">What if I want a refund after my Toy Sale online lay-by has been delivered or collected?</dt>
			<dd class="fa">As long as your goods are in a resalable condition, you can return them to our Online Team for assessment using the returns paperwork in your parcel. Alternatively, you can return online purchases to your nearest Target or Target Country store for assessment &ndash; just remember to take your tax invoice with you. To view our refund policy, 
			<a href="/help/refund-returns.html">click here</a> .</dd>
			<dt class="fq">What if items from my Toy Sale online lay-by are missing or damaged when delivered?</dt>
			<dd class="fa">If your order arrives damaged, please either return it to Target Online using the returns paperwork that came in your parcel, or take it to your local Target or Target Country store for an exchange and/or refund. If the products are still available, we will endeavour to replace your damaged goods. For missing items, please call us on 1300 753 567 Monday&ndash;Friday, 8.30am&ndash;8.30pm or Saturday, 10am&ndash;3pm (AEST).</dd>
		</dl>
	</div>
	<!-- Refund end -->
</div>