<h1>FAQs: Customer Service</h1>
<div class="faq-list">
	<div class="faq-grp">
		<h3>Getting help</h3>
		<dl class="faq-items">
			<dt class="fq">I'm having trouble shopping online. How do I contact you for help?</dt>
			<dd class="fa">If you're having trouble shopping online, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">What if I don't receive a response to my query?</dt>
			<dd class="fa">We'll do our best to respond to you within 72 hours of receiving your query, however if you still haven't heard from us after that time or want to hear back sooner, please call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Are there any days that you won't able to help me with my call?</dt>
			<dd class="fa">Yes, but there are only a few days that we are closed and won't be able to take your call but don't worry we will let you know in advance.</dd>
			<dt class="fq">What should I do if I can't find an item on the website?</dt>
			<dd class="fa">If you can't find the item that you're after online, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Privacy</h3>
		<dl class="faq-items">
			<dt class="fq">Does Target have a Privacy Policy?</dt>
			<dd class="fa">Check out our 
			<a href="/corporate/privacy.html">Privacy Policy</a> .</dd>
			<dt class="fq">How is my personal information used?</dt>
			<dd class="fa">We'll only use your personal information when it's necessary for us to deliver you a service or perform other essential business functions and activities such as:
			<ul>
				<li>delivering products and online orders to you</li>
				<li>improving our service</li>
				<li>providing offers that are of a greater interest or benefit to you</li>
				<li>completing other transactions with you or on your behalf</li>
				<li>protecting you against fraud or theft.</li>
			</ul>For more information, check out our 
			<a href="/corporate/privacy.html">Privacy Policy</a> .</dd>
			<dt class="fq">Are my details secure with Target?</dt>
			<dd class="fa">We'll always act to protect your details. Our servers will help secure your personal information with up-to-date firewalls and encryption techniques during the ordering and purchase process. A padlock or key will also be visible in the bottom of your web browser.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Terms and conditions</h3>
		<dl class="faq-items">
			<dt class="fq">Do you have any online terms and conditions?</dt>
			<dd class="fa">Yes, check out 
			<a href="/corporate/condition-of-use.html">Target's Website Terms and Conditions</a> .</dd>
		</dl>
	</div>
</div>