<h1>FAQs: Delivery</h1>
<p>If you have any questions or need help shopping online, please drop us a line at 
<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<div class="faq-list">
	<div class="faq-grp">
		<dl class="faq-items">
			<dt class="fq">What is your Online Delivery Policy?</dt>
			<dd class="fa">View our 
			<a href="/help/payment-delivery.html">Online Delivery Policy</a> .</dd>
			<dt class="fq">Are there any items that can't be delivered?</dt>
			<dd class="fa">All items for sale on our website can either be home delivered, or are available for Click + Collect and will be delivered to your nominated store.</dd>
			<dt class="fq">How do I know that you've received my order?</dt>
			<dd class="fa">We'll send you an order confirmation as soon as we've received your order. If you do not receive this confirmation within 24 hours of placing the order, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Where is my order being sent from?</dt>
			<dd class="fa">All orders will be sent from our Melbourne warehouse.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Tracking your order</h3>
		<dl class="faq-items">
			<dt class="fq">Will I be notified when my items have left the Melbourne warehouse?</dt>
			<dd class="fa">Yes, we'll send you an email once your parcel has been dispatched.</dd>
			<dt class="fq">What can I do if I haven't received my order yet?</dt>
			<dd class="fa">If you haven't received your parcel within ten working days of ordering, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">Can I track my current order online?</dt>
			<dd class="fa">If you have an account with us, you can <a href="/login" >login to your account</a> and track your order. If you don't have an account or checked out as a guest, you can use the 'Consignment ID number' to track your order via either the <a href="http://auspost.com.au/track/" class="external">Australia Post website</a> or the <a href="https://online.toll.com.au/trackandtrace/" class="external">TOLL IPEC website</a>, depending on which company your order is delivered by.</dd>
			<dt class="fq">If I'm shopping as a guest, can I still track my order online?</dt>
			<dd class="fa">No, you will only be able to track your order online if you have an account with us.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Costs, options and delivery timing</h3>
		<p>You can find detailed information about delivery costs and delivery times on our 
		<a href="/help/payment-delivery.html">Payment + Delivery</a> page.</p>
		<dl class="faq-items">
			<dt class="fq">What shipping options do you offer?</dt>
			<dd class="fa">We use Australia Post or TOLL/IPEC to deliver your order.</dd>
			<dt class="fq">Which shipping company will my order be shipped by?</dt>
			<dd class="fa">Depending on your shipping address, we will use either Australia Post or TOLL/IPEC to deliver your order as quick as possible. Your order confirmation will indicate via which company your order will be delivered by and give you a 'Consignment ID number'.</dd>
			<dt class="fq">Are there any other delivery options available, such as express post delivery?</dt>
			<dd class="fa">No, at the moment we only offer a standard delivery service.</dd>
			<dt class="fq">Can I place an order online and collect it from my local store?</dt>
			<dd class="fa">Yes, you can place an order online and collect it from your local store via our FREE Click + Collect service. Please note that due to size and weight restrictions, some products cannot be delivered to stores.</dd>
			<dt class="fq">How much will shipping cost me?</dt>
			<dd class="fa">There will be a standard flat rate fee per delivery.
			<ul>
				<li>Home delivery for standard parcels (small, medium or large) is $9.00 including GST.</li>
				<li>If one or two big and bulky parcels are purchased, a flat fee of $69.00 including GST will apply.</li>
				<li>If three or more big and bulky items are purchased, a flat fee of $138.00 including GST will apply.</li>
			</ul></dd>
			<dt class="fq">Do you offer bulk shipping discounts?</dt>
			<dd class="fa">No, bulk shipping discounts are not available because all of our shipping costs are based on flat rate fees.</dd>
			<dt class="fq">What's the difference between a standard parcel and a big and bulky parcel?</dt>
			<dd class="fa">Most items will be packed as a standard parcel. Big and bulky parcels will be anything over 105cm long and / or with a width of over 140cm or over 22kgs.</dd>
			<dt class="fq">How long will my order take to arrive?</dt>
			<dd class="fa">Orders will be dispatched from our Melbourne warehouse within one to two business days. Delivery time will vary depending on your location. See our detailed delivery table on our 
			<a href="/help/payment-delivery.html">Payment + Delivery</a> page.</dd>
			<dt class="fq">Do parcels received require a signature upon delivery?</dt>
			<dd class="fa">Yes, all home delivery orders require a signature upon delivery. If there's no authorised person at the delivery address to sign for the parcel, a card will be left with instructions that will indicate if you need to call to arrange another delivery time or if you need to collect from the delivery agent. Once your parcel has been signed for, you will be responsible for any damage or loss to your items.</dd>
			<dt class="fq">How are my items packaged?</dt>
			<dd class="fa">All items will be packed in a carton or satchel. Home Delivery packages will include your ordered item/s, tax invoice and a returns slip. Click + Collect packages will include your ordered item/s and your tax invoice.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Delivery areas</h3>
		<dl class="faq-items">
			<dt class="fq">Do you deliver to all parts of Australia?</dt>
			<dd class="fa">Yes, we deliver to all parts of mainland Australia and Tasmania. If you are unsure about delivery to your area, please contact us at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">I live overseas but want to send my order to an address in Australia. Am I able to do that?</dt>
			<dd class="fa">Yes, you can place an order overseas and have it delivered to any address within Australia.</dd>
			<dt class="fq">Do you deliver overseas?</dt>
			<dd class="fa">No, at the moment we're unable to deliver overseas. However you can place an order overseas and have it delivered to any address within Australia.</dd>
			<dt class="fq">Do you deliver to a PO Box address?</dt>
			<dd class="fa">Provided that your order is a standard parcel (small, medium or large), we can delivery it to a PO Box. Big and bulky parcels can only be delivered to a street address.</dd>
			<dt class="fq">Can my order be collected directly from the Melbourne warehouse?</dt>
			<dd class="fa">No, at the moment orders cannot be collected from our Melbourne warehouse.</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>Click + Collect</h3>
		<dl class="faq-items">
			<dt class="fq">Can I collect my Click + Collect order straight after I have placed my order?</dt>
			<dd class="fa">No, for Click + Collect orders, they will be delivered to your nominated store, and upon receiving notification that your order is ready to be picked up, it can be collected during store trading hours. Delivery time will vary depending on your location. See our detailed delivery table on our 
			<a href="/help/payment-delivery.html">Payment + Delivery page</a> .</dd>
			<dt class="fq">Where do I go to collect my Click + Collect order in store?</dt>
			<dd class="fa">
				<p>Once you have a submitted your order, you must collect your order from the store selected.</p>
				<ul>
					<li>If you have chosen our FREE Click + Collect service, you can collect your order from the lay-by department or customer service counter at your selected store.</li>
					<li>You must produce a copy of your order confirmation email in store to collect your order.</li>
					<li>Collection is required within 7 days of receiving notification that your order has arrived in store.</li>
				</ul>
			</dd>
			<dt class="fq">Can I change the store I selected to collect my order?</dt>
			<dd class="fa">Once you have a submitted your order, you must collect your order from the store selected.</dd>
			<dt class="fq">My preferred store is not in the list of stores, what do I do?</dt>
			<dd class="fa">If your preferred store is unable to accept delivery of big and bulky items it will not be available for Click + Collect, so you will need to select another store or choose the home delivery option.</dd>
			<dt class="fq">Can I have my order delivered to a Target Country store?</dt>
			<dd class="fa">Yes, you can have your order delivered to a Target Country store (excludes items that we cannot safely handle in these stores and home delivery only items).</dd>
		</dl>
	</div>
	<div class="faq-grp">
		<h3>If there's a problem</h3>
		<dl class="faq-items">
			<dt class="fq">What if I've received my order and it's damaged?</dt>
			<dd class="fa">In the unlikely event that your order arrives damaged, please immediately call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
			<dt class="fq">The parcel that I've received is wrong. What should I do?</dt>
			<dd class="fa">If the parcel that you've received is wrong, please drop us a line at 
			<a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</dd>
		</dl>
	</div>
</div>