<h1>Payment + Delivery</h1>
<h2>From our hands to yours</h2>
<h3>Payments</h3>
<p>All orders are calculated in Australian Dollars and can be paid for via PayPal or credit card. We accept all major credit cards including MasterCard, Amex, Diners and Visa. To find out more, take a look at our <a href="/help/help.html">FAQs</a>.</p>
<h3>Delivery Policy</h3>
<ul>
    <li>Home Delivery orders for standard parcels can be sent to street addresses or a post office boxes. Unfortunately, big and bulky parcels can only be sent to street addresses. We do not deliver internationally, although orders placed from overseas can be delivered within Australia.</li>
    <li>For Click + Collect orders, you will be notified via email or SMS once your order is ready to be picked up.  Collect your online lay-by from the lay-by department or customer service counter at your selected store and be sure to take a copy of your order confirmation email or tax invoice to collect your order. Collection of your Click + Collect orders must be collected within 7 days of notification that your order has arrived in store.</li>
    <li>We offer a reliable and affordable delivery service to all areas within mainland Australia and Tasmania. All home delivery and Click + Collect orders are dispatched from our Melbourne warehouse.</li>
</ul>
<h4>Delivery charges</h4>
<p>To make life easier, we have standard flat rate fees for delivery.</p>
<table cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td>Standard parcels (small, medium or large)</td>
            <td>AU$9.00 (incl. GST)</td>
        </tr>
        <tr>
            <td>Big and bulky parcels*</td>
            <td>AU$69.00 (incl. GST)</td>
        </tr>
    </tbody>
</table>
<p><sub>*Big and bulky refers to any item over 105cm long and /or over 140cm wide and/or over 22kg. If three or more big + bulky items are purchased, the delivery fee will total $138.00 (inc. GST).</sub></p>
<h4>Delivery times</h4>
<p>Home delivery orders are delivered on weekdays by either <a href="http://auspost.com.au" class="external">Australia Post</a> or <a href="http://toll.com.au/" class="external">TOLL IPEC</a>. Delivery time will vary depending on your location. Please use the below table as a general guide:</p>
<table cellspacing="0" cellpadding="0" border="0">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Standard Parcels<br />
            (business days)</th>
            <th>Big + Bulky Parcels<br />
            (business days)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>VIC</th>
            <td>Melbourne metropolitan</td>
            <td>3 days</td>
            <td>5 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Vic country</td>
            <td>4 days</td>
            <td>7 days</td>
        </tr>
        <tr>
            <th>NSW/ACT</th>
            <td>Sydney metropolitan</td>
            <td>4 days</td>
            <td>6 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>NSW country</td>
            <td>5 days</td>
            <td>8 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Canberra metropolitan</td>
            <td>5 days</td>
            <td>7 days</td>
        </tr>
        <tr>
            <th>QLD</th>
            <td>Brisbane metropolitan</td>
            <td>6 days</td>
            <td>8 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>South East QLD</td>
            <td>6 days</td>
            <td>9 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Central QLD</td>
            <td>7 days</td>
            <td>9 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Far North QLD</td>
            <td>8 days</td>
            <td>12 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Far North QLD (Islands)</td>
            <td>12 days</td>
            <td>16 days</td>
        </tr>
        <tr>
            <th>TAS</th>
            <td>Tasmania</td>
            <td>6 days</td>
            <td>12 days</td>
        </tr>
        <tr>
            <th>SA</th>
            <td>Adelaide metropolitan</td>
            <td>4 days</td>
            <td>6 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>SA country</td>
            <td>6 days</td>
            <td>8 days</td>
        </tr>
        <tr>
            <th>NT</th>
            <td>Darwin metropolitan</td>
            <td>6 days</td>
            <td>14 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Alice Springs</td>
            <td>7 days</td>
            <td>12 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>NT country</td>
            <td>14 days</td>
            <td>16 days</td>
        </tr>
        <tr>
            <th>WA</th>
            <td>Perth metropolitan</td>
            <td>6 days</td>
            <td>10 days</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>WA country</td>
            <td>9 days</td>
            <td>16 days</td>
        </tr>
    </tbody>
</table>
<h4>Click + Collect Orders</h4>
<p>Click + Collect orders, are delivered to your nominated store, depending on your location this may be between 5 - 16 working days. As soon as you are notified that your order is ready you can collect it during normal store trading hours.</p>
<h4>Order tracking</h4>
<p>If you have an account with us, you can <a href="/login" >login to your account</a> and track your order. If you don't have an account or checked out as a guest, you can use the 'Consignment ID number' to track your order via either the <a href="http://auspost.com.au/track/" class="external">Australia Post website</a> or the <a href="https://online.toll.com.au/trackandtrace/" class="external">TOLL IPEC website</a>, depending on which company your order is delivered by.</p>
<h4>Delivery acceptance</h4>
<p>All home delivery orders require a signature upon delivery. If there's no authorised person at the delivery address to sign for the parcel, a card will be left with instructions indicating if you need to call to arrange another delivery time or if you need to collect your order from the delivery agent.</p>
<p>In the case of Click + Collect, parcels will be signed for at the store nominated for pick up. You can authorise a person other than yourself to collect your Click + Collect order from your nominated store. The authorised person will require photo identification for this to occur. Collection of your Click + Collect order is required within 7 days of receiving notification that your order has arrived in store.</p>
<p>Once your parcel has been signed for, you will be responsible for any damage or loss to your items.</p>
<h4>More information</h4>
<p>If you have not received your parcel or pickup notification that your order has arrived from your store within 16 working days from the date of purchase, please drop us a line at <a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<p>For returns, please refer to our <a href="/help/refund-policy.html">Refund Policy</a>.</p>