<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td width="25%" class="structureViewSection">
					<cockpit code="SiteLogo" />
				</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="ContactInfo" />
				</td>
				<td width="25%" class="structureViewSection">
					<cockpit code="MVT" />
				</td>
			</tr>

			<!-- Content -->

			<tr>
				<td colspan="4" height="200px" class="structureViewSection" style="vertical-align:middle;">
					<div>Page Content</div>
				</td>
			</tr>

			<tr>
				<td colspan="4" height="200px" class="structureViewSection" style="vertical-align:middle;">
					<cockpit code="RegisterLanding" />
					<cockpit code="InlinePrivacy" />
				</td>
			</tr>

			<tr>
				<td colspan="4" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Supplement" />
				</td>
			</tr>

			<!-- Footer -->
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="FooterSupportContainer" />
					<cockpit code="FooterUtilityLeftContainer" />
					<cockpit code="FooterUtilityRightContainer" />
					<cockpit code="FooterLegalContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="FooterSnippet" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>