<hr />
<h4>Search Tips</h4>
<ul>
	<li>Check your spelling for typos</li>
	<li>Try different keywords or more general keywords</li>
	<li>Use fewer keywords</li>
</ul>
<hr />
<p>If you haven&rsquo;t found the product you were looking for, it may be worth checking our catalogue or your local Target store.</p>
<ul>
	<li><a href="http://target.dynamiccatalogue.com.au/portal/">Browse our catalogue</a></li>
	<li><a href="/store-finder">Find your nearest store</a></li>
</ul>					
